:root{
  --primary: #0a3cff;
  --dark: #111111;
  --gray: #555555;
  --light: #f5f7fa;
}

body{
  font-family: Arial, Helventica, sans-serif;
  margin: 0;
  background: var(--light);
  color: var(--dark);
}

header{
  background: white;
  padding: 80px 20px;
  text-aling: center;
}

h1{
  font-size: 2.5rem;
  margin-bottom: 10px;
}

section{
  max-width: 900px;
  margin: 60px auto;
  padding: 0 20px;
}

h2{
  border-left: 5px solid var(--primary);
  padding-left: 10px;
  margin-bottom: 20px;
}

ul{
  line-height: 1.8;
}

.projects{
  border: 1px solid #eee;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
  background: #fafafa;
}

.cta{
  display: inline-bock;
  margin-top: 30px;
  padding: 15px 30px;
  background: var(--primary);
  color: white;
  text-decoration: none;
  border-radius: 6px;
  font-weight: bold;
}

.logo{
  width: 120px;
  margin-bottom:20px;
}

header, section{
  animation: fadeIn is ease;
}

@keyframes fadeIn{
  from{
    opacity: 0;
    transform: translateY(20px);
  }
  to{
    opacity: 1;
    transform: translatey(0);
  }
}
