:root{
  --primary: #0a3cff;
  --dark: #111111;
  --gray: #555555;
  --light: #f5f7fa;
}

body{
  padding-top: 70px
}

header{
  background: white;
  padding: 80px 20px;
  text-aling: center;
}

h1{
  font-size: 2.5rem;
  margin-bottom: 10px;
}

section{
  max-width: 960px;
  margin: 80px auto;
  padding: 0 20px;
}

h2{
  font-size: 1.8rem;
  margin-bottom: 15px;
  padding-bottom: 10px;
  border-bottom: 3px solid var(--primary);
}

ul{
  line-height: 1.8;
}

.section{
  padding: 80px 20px;
  max-width: 1100px;
  margin: auto;
}

.section h2{
  font-size:2.5rem;
  margin-bottom: 40px;
}

.hero{
  background: linear-gradient(135deg, #0a3cff 0%, #0047b3 100%);
  color: white;
  text-aling: center;
  padding: 120px 20px;
}

.hero .logo{
  width: 140px;
  margin-bottom: 20px;
}

.hero h1{
  font-size: 3.2rem;
  margin-bottom: 10px;
}

.hero .tagline{
  font-size: 1.25rem;
  margin-bottom: 25px;
  max-width: 650px;
  margin-left: auto;
  margin-right: auto;
}

.projects-grid{
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}

.card{
  background: white;
  border-radius: 16px;
  padding: 30px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.1);
  transition: 0.3s ease;
}

.card-grid{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
}

.card h3{
  margin-bottom: 10px;
  font-weight: 600;
}

.card:hover{
  transform: translateY(-8px);
  box-shadow: 0 20px 40px rgba(0,0,0,0.12);
}

.cta{
  display: inline-bock;
  margin-top: 30px;
  padding: 15px 30px;
  background: var(--primary);
  color: white;
  text-decoration: none;
  border-radius: 6px;
  font-weight: bold;
}

.logo{
  width: 120px;
  margin-bottom:20px;
}

header, section{
  animation: fadeIn is ease;
}

.navbar{
  position: fixed;
  top: 0;
  width: 100%;
  background: rgba(10,60,255,0.95);
  backdrop-filter: blur(6px);
  z-index: 1000;
}

.nav-inner{
  max-width: 1100px;
  margin: auto;
  display: flex;
  aling-items: center;
  justify-content: space-between;
  padding: 12px 20px;
  color: white;
}

.brand{
  display: flex;
  aling-items: center;
  gap: 10px;
  font-weight: 700;
}

.nav-logo{
  height: 32px;
}

.nav-links{
  display: flex;
  list-style: none;
  gap: 25px;
}

.nav-links a{
  color: white;
  text-decoration: none;
  font-weight: 500;
}

.nav-links a:hover {
  text-decoration: underline;
}

.nav-cta{
  background: white;
  color: #0a3cff;
  padding: 8px 16px;
  border-radius: 20px;
  text-decoration: none;
  font-weight: 600;
}

@keyframes fadeIn{
  from{
    opacity: 0;
    transform: translateY(20px);
  }
  to{
    opacity: 1;
    transform: translateY(0);
  }
}
